<div class="k-overlay" *ngIf="openedCadReferencia"></div>
<kendo-grid
  [data]="view | async"
  [height]="600"
  [loading]="loading"
  (edit)="editHandler($event)"
  (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)"
  filterable="menu"
  [resizable]='true'
  (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
  [filter]="gridState.filter"
  [pageable]="true" [sortable]="true"
  (dataStateChange)="onStateChange($event)">
  <kendo-grid-messages noRecords="Nenhum registro encontrado."
    filterFilterButton="Filtrar"
    filterClearButton="Limpar" filterContainsOperator="Contém">
  </kendo-grid-messages>
  <ng-template kendoGridToolbarTemplate>
    <div class="row d-flex mx-3 justify-content-between">
      <div kendoTooltip position="right">
        <button kendoButton (click)="opem({isNew:true})" title="Nova Referência">Novo
        </button>
      </div>
      <a kendoTooltip position="left"
        tooltipWidth="400"
        [title]="getHelp('Referencia','Tela')?.helpTexto" class="nav-link"><i
          class="icon-info"></i></a>
    </div>
  </ng-template>

  <div *ngFor="let col of columns">
    <kendo-grid-column [field]="col.field" [title]="col.title"
      [filterable]="true" [sortable]="col.field ===
      'GrupoId' ? false : true">
      <ng-template kendoGridHeaderTemplate let-column
        let-columnIndex="columnIndex">
        <span kendoTooltip [title]="getHelp(col.field,'Atributo')?.helpTexto">{{column.title}}</span>
      </ng-template>
      <ng-template kendoGridFilterMenuTemplate let-filter let-column="column"
        let-filterService="filterService">
        <div *ngIf="col.field === 'ReferenciaDescricaoCompleta' || col.field ===
          'ReferenciaCodigo' ;else dropdown">
          <incca-input-filter
            [filter]="filter"
            [valueField]="col.field">
          </incca-input-filter>
        </div>
        <ng-template #dropdown>
          <div>
            <incca-dropdownlist-filter
              [filter]="filter"
              [valueField]="'GrupoId'"
              [data]="grupoList"
              [textField]=" 'GrupoDescricao'">
            </incca-dropdownlist-filter>
          </div>
        </ng-template>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem *ngIf="col.field === 'GrupoId'">
        {{getName(dataItem,col.field)}}
      </ng-template>

      <ng-template kendoGridCellTemplate let-dataItem
      *ngIf="col.field === 'ReferenciaInativo'">
        <label class="k-form-field right">
          <input
            type="checkbox"
            id="checkOnClick"
            class="k-checkbox"
            [checked]="getValueCheckBox(dataItem,col.field)"
            />
          <label class="k-checkbox-label" for="checkChildren"></label>
        </label>
      </ng-template>
    </kendo-grid-column>
  </div>

  <kendo-grid-command-column title="Opções" width="300">
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
      <button kendoButton (click)="opem({isNew:isNew,dataItem:dataItem})"
        [primary]="true">Editar</button>
      <button kendoGridRemoveCommand>Apagar</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ?
        'Adicionar' : 'Atualizar' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Cancelar' : 'Cancelar' }}</button>
      <i kendoTooltip *ngIf="!isNew" class="icon-user ml-2" title="Usuário:
        {{dataItem.ReferenciaCadastroUsuario}} Data:
        {{dataItem.ReferenciaCadastroData | date:'shortDate'}}"></i>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>


<kendo-window top="60" title="Cadastro de Referência" *ngIf="openedCadReferencia"
  (close)="close()" [minWidth]="300" [width]="1000" [height]="600">
  <incca-referencia-form [isNew]="isNew" [formGroup]="createFormGroup"></incca-referencia-form>
</kendo-window>
