// .k-grid tr.cancel { background-color: #b41e03; }
// .k-grid tr.venda { background-color: #099401; }
// .k-grid tr.orcamento { background-color: #0151b9; }
// .k-grid tr.consig { background-color: #dfe20625; }
.k-grid .no-padding {
  padding: 0;
}
 .whole-cell {
   display: block;
   padding: 13px 12px; /* depends on theme */
 }
