<kendo-tabstrip>
  <kendo-tabstrip-tab [title]="'Cadastro de estoque'" [selected]="true">
    <ng-template kendoTabContent>
      <kendo-grid
        [data]="view | async"
        [height]="400"
        [loading]="loading"
        (edit)="editHandler($event)"
        (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)"
        (remove)="removeHandler($event)"
        (add)="addHandler($event)"
        [resizable]="true"
        [pageSize]="gridState.take" [skip]="gridState.skip"
        [sort]="gridState.sort"
        [filter]="gridState.filter"
        [pageable]="true" [sortable]="true"
        (dataStateChange)="onStateChange($event)">

        <kendo-grid-column field="Tamanho" title="Tamanho">
          <ng-template kendoGridHeaderTemplate let-column
            let-columnIndex="columnIndex">
            <span kendoTooltip
              [title]="getHelp(column.field,'Atributo')?.helpTexto">{{column.title}}</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ProdutoEstoqueArmazenamento" title="Local de
          Armazenamento"
          width="150">
          <ng-template kendoGridHeaderTemplate let-column
            let-columnIndex="columnIndex">
            <span kendoTooltip
              [title]="getHelp(column.field,'Atributo')?.helpTexto">{{column.title}}</span>
          </ng-template>
          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <div class="d-flex"
              *ngIf="dataItem.ProdutoEstoqueArmazenamento !== ''; else
              semArmazenamento">
              {{ dataItem.ProdutoEstoqueArmazenamento}}
            </div>
            <ng-template #semArmazenamento>
              Sem definição
            </ng-template>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-formGroup="formGroup">
            <div class="justify-content-center">
              <div>
                <input type="text"
                  #ddl="popupAnchor"
                  class='w-100 '
                  popupAnchor
                  kendoTextBox
                  [formControl]="formGroup.get('ProdutoEstoqueArmazenamento')"
                  [ngClass]="{'k-state-invalid':
                  formGroup.controls['ProdutoEstoqueArmazenamento'].touch &&
                  formGroup.controls['ProdutoEstoqueArmazenamento'].errors }" />
                <kendo-popup
                  [anchor]="ddl.element"
                  *ngIf="formGroup.get('ProdutoEstoqueArmazenamento').invalid &&
                  !(isNew &&
                  formGroup.get('ProdutoEstoqueArmazenamento').untouched)"
                  popupClass="k-widget
                  k-tooltip k-tooltip-validation k-invalid-msg">
                  <span class="k-icon k-i-warning"></span>
                  Defina o local de Armazenamento
                </kendo-popup>
              </div>

            </div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="TipoEstoqueDescricao" title="Tipo de estoque"
          width="300">
          <ng-template kendoGridHeaderTemplate let-column
            let-columnIndex="columnIndex">
            <span kendoTooltip
              [title]="getHelp(column.field,'Atributo')?.helpTexto">{{column.title}}</span>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-formGroup="formGroup">
            <div class="row d-flex justify-content-center">
              <div>
                <kendo-dropdownlist
                  #ddl="popupAnchor"
                  popupAnchor
                  [data]="dataTipoEstoque"
                  style="width:250px;"
                  [filterable]="true"
                  (filterChange)="handleTipoEstoqueFilter($event)"
                  textField="TipoEstoqueDescricao"
                  valueField="TipoEstoqueId"
                  [valuePrimitive]="true"
                  [defaultItem]="{
                  TipoEstoqueId: '',
                  TipoEstoqueDescricao: 'Escolha um tipo de estoque'
                  }"
                  [formControl]="formGroup.get('TipoEstoqueId')">
                </kendo-dropdownlist>
                <kendo-popup
                  [anchor]="ddl.element"
                  *ngIf="formGroup.get('TipoEstoqueId').invalid &&
                  !(isNew && formGroup.get('TipoEstoqueId').untouched)"
                  popupClass="k-widget
                  k-tooltip k-tooltip-validation k-invalid-msg">
                  <span class="k-icon k-i-warning"></span>
                  Escolha o tipo de estoque
                </kendo-popup>
              </div>
              <div class="mt-1">
                <button kendoButton [icon]="'add'" [look]="'flat'"></button>
              </div>
            </div>
          </ng-template>
          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <div class="d-flex" *ngIf="dataItem.TipoEstoqueDescricao !== '';
              else
              semArmazenamento">
              {{ dataItem.TipoEstoqueDescricao}}
            </div>
            <ng-template #semArmazenamento>
              Sem definição
            </ng-template>
          </ng-template>

        </kendo-grid-column>
        <kendo-grid-column field="ProdutoEstoqueQuantidade" title="Quantidade"
          width="150">
          <ng-template kendoGridHeaderTemplate let-column
            let-columnIndex="columnIndex">
            <span kendoTooltip
              [title]="getHelp(column.field,'Atributo')?.helpTexto">{{column.title}}</span>
          </ng-template>
          <ng-template
            kendoGridEditTemplate
            let-dataItem="dataItem"
            let-formGroup="formGroup">
            <input type="number" min="1"
              [formControl]="formGroup.get('ProdutoEstoqueQuantidade')"
              kendoTextBox />
          </ng-template>

          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            {{dataItem.ProdutoEstoqueQuantidade | number : '1.2-2' }}
          </ng-template>

        </kendo-grid-column>

        <kendo-grid-command-column title="Opções" width="260">
          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
            <button kendoGridEditCommand [primary]="true">Editar</button>
            <!-- <button kendoGridRemoveCommand>Apagar</button> -->
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{
              isNew ?
              'Adicionar' : 'Atualizar' }}</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Cancelar' : 'Cancelar' }}</button>
            <i kendoTooltip *ngIf="!isNew" class="icon-user ml-2"
              title="Usuário:
              {{dataItem.ProdutoEstoqueUsuario}} Data:
              {{dataItem.ProdutoEstoqueData |
              date:'short'}}"></i>
          </ng-template>
        </kendo-grid-command-column>
      </kendo-grid>
    </ng-template>
  </kendo-tabstrip-tab>
  <kendo-tabstrip-tab [title]="'Historico de movimentação'">
    <ng-template kendoTabContent>
      <incca-mov-estoque-qtde-grid [produtoId]="produtoId"></incca-mov-estoque-qtde-grid>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
