<div class="k-overlay" *ngIf="openedCadAgendamento"></div>
<kendo-grid [data]="view | async"
  (edit)="editHandler($event)"
  [loading]="loading"
  (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)"
  (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  [pageSize]="gridState.take"
  [skip]="gridState.skip"
  [resizable]="true"
  [sort]="gridState.sort"
  [filter]="gridState.filter"
  [pageable]="true"
  [sortable]="true"
  (dataStateChange)="onStateChange($event)"
  [height]="500">

  <kendo-grid-messages noRecords="Nenhum registro encontrado."
    filterFilterButton="Filtrar" filterClearButton="Limpar"
    filterContainsOperator="Contém">
  </kendo-grid-messages>

  <ng-template kendoGridToolbarTemplate>
    <div class="row d-flex mx-3 justify-content-between">
      <div kendoTooltip position="right">
        <button (click)="open({isNew:true})" kendoButton title="Novo
          Agendamento">Novo </button>
        <button [icon]="'file-excel'" kendoGridExcelCommand>Excel</button>
        <button [icon]="'file-pdf'" kendoGridPDFCommand>PDF</button>
      </div>
      <a kendoTooltip position="left" tooltipWidth="400"
        [title]="getHelp('Agendamento','Tela')?.helpTexto"
        class="nav-link">
        <i class="icon-info"></i>
      </a>
    </div>
  </ng-template>

  <kendo-grid-column width="100" field="AgendaData" title="Data Agendamento">
    <ng-template kendoGridHeaderTemplate let-column
      let-columnIndex="columnIndex">
      <span kendoTooltip
        [title]="getHelp(column.field,'DataAgendamento')?.helpTexto">{{column.title}}</span>
    </ng-template>

    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="whole-cell">
        {{ dataItem.AgendaData | date:'shortDate'}}
      </div>
    </ng-template>

  </kendo-grid-column>

  <kendo-grid-column field="ClienteId" title="Cliente">

    <ng-template kendoGridHeaderTemplate let-column
      let-columnIndex="columnIndex">
      <span kendoTooltip [title]="getHelp(column.field,'Cliente')?.helpTexto">{{column.title}}</span>
    </ng-template>

    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="whole-cell">
        {{ getNomeCliente(dataItem.ClienteId) }}
      </div>
    </ng-template>


  </kendo-grid-column>

  <kendo-grid-column field="ClienteCelular" width="150" title="Celular">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="whole-cell">
        {{ dataItem.ClienteCelular }}
      </div>
    </ng-template>

  </kendo-grid-column>

  <kendo-grid-column width="150" field="AgendaTipoContato" title="Tipo de
    contato">

    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="whole-cell">
        {{ getTipoContato(dataItem.AgendaTipoContato) }}
      </div>
    </ng-template>

  </kendo-grid-column>

  <kendo-grid-column field="AgendaDataProximoContato" title="Próx. Agendamento"
    width="100">

    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="whole-cell">
        {{dataItem.AgendaDataProximoContato === '0000-00-00T00:00:00' ? "" :
        dataItem.AgendaDataProximoContato | date: 'shortDate'}}
      </div>
    </ng-template>

  </kendo-grid-column>

  <kendo-grid-column width="100" field="MedicaoCliente" title="Medição">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="whole-cell text-center">
        <span class="k-icon k-i-search"></span>
      </div>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-excel fileName="Agenda.xlsx"></kendo-grid-excel>

  <kendo-grid-pdf fileName="Agenda.pdf" [allPages]="true" paperSize="A4"
    [repeatHeaders]="true" [landscape]="true">
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum"
      let-totalPages="totalPages">
      <div class="page-template">
        <div class="header">
          <div style="float: right">Page {{ pageNum }} of {{ totalPages }}</div>
        </div>
        <div class="footer">
          Pagina {{ pageNum }} de {{ totalPages }}
        </div>
      </div>
    </ng-template>
  </kendo-grid-pdf>

  <kendo-grid-command-column title="Opções">
    <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
      <button kendoButton [primary]="true">Editar</button>
      <button kendoGridRemoveCommand>Remover</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">
        {{ isNew ? "Adicionar" : "Atualizar" }}
      </button>
      <button id="btnCancelar" kendoGridCancelCommand>
        Cancelar
      </button>
      <i kendoTooltip *ngIf="!isNew" class="icon-user ml-2"
        [tooltipTemplate]="template" [title]="template"></i>
      <ng-template #default>
        Padrão do sistema
      </ng-template>
      <ng-template #template>
        <div style="height:50px; width:180px">
          <strong>Usuário: </strong> {{ dataItem.AgendaUsuarioAlteracaoCadastro
          }}
          <br>
          <strong>Data: </strong> {{ dataItem.AgendaDataAlteracaoCadastro |
          date: 'shortDate' }}
        </div>
      </ng-template>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>

<kendo-window top="60" title="Cadastro de Cliente" *ngIf="openedCadClientes"
  (close)="close()" [minWidth]="300" [width]="1150" [height]="700">
  <incca-cliente-form [isNew]="isNew" [formGroup]="createFormGroup">
  </incca-cliente-form>
</kendo-window>
