<kendo-grid
  [data]="view | async"
  [height]="400"
  [loading]="loading"
  (edit)="editHandler($event)"
  (cancel)="cancelHandler($event)"
  (save)="saveHandler($event)"
  (remove)="removeHandler($event)"
  (add)="addHandler($event)"
  [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
  [filter]="gridState.filter"
  [pageable]="true" [sortable]="true"
  (dataStateChange)="onStateChange($event)"
>
  <ng-template kendoGridToolbarTemplate>
      <div class="row d-flex mx-3 justify-content-between">
        <div kendoTooltip position="right">
          <button kendoGridAddCommand title="Novo Tipo de Estoque" >Novo </button>
          <button [icon]="'file-excel'" kendoGridExcelCommand>Excel</button>
          <button [icon]="'file-pdf'" kendoGridPDFCommand>PDF</button>
        </div>
        <a kendoTooltip position="left"
          tooltipWidth="400"
          [title]="getHelp('TipoEstoque','Tela')?.helpTexto" class="nav-link"><i
            class="icon-info"></i></a>
      </div>
  </ng-template>
  <kendo-grid-column field="TipoEstoqueDescricao" title="Descrição">
      <ng-template kendoGridHeaderTemplate let-column
      let-columnIndex="columnIndex" >
      <span kendoTooltip [title]="getHelp(column.field,'Atributo')?.helpTexto">{{column.title}}</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-command-column title="Opções" width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
          <button kendoGridEditCommand [primary]="true">Editar</button>
          <button kendoGridRemoveCommand>Apagar</button>
          <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Adicionar' : 'Atualizar' }}</button>
          <button kendoGridCancelCommand>{{ isNew ? 'Cancelar' : 'Cancelar' }}</button>
      </ng-template>
  </kendo-grid-command-column>


  <kendo-grid-excel fileName="Tipo-Estoque.xlsx"></kendo-grid-excel>

  <kendo-grid-pdf fileName="Tipo-Estoque.pdf" [allPages]="true" paperSize="A4"
  [repeatHeaders]="true" [landscape]="true">
  <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
  <ng-template kendoGridPDFTemplate let-pageNum="pageNum"
    let-totalPages="totalPages">
    <div class="page-template">
      <div class="header">
        <div style="float: right" >Page {{ pageNum }} of {{ totalPages }}</div>
      </div>
      <div class="footer">
        Pagina {{ pageNum }} de {{ totalPages }}
      </div>
    </div>
  </ng-template>
</kendo-grid-pdf>

</kendo-grid>
